/* Button Main */

.defaultButton {
  background-image: linear-gradient(
    90deg,
    var(--brand-orange),
    var(--brand-pink)
  );
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 26px;
  color: white;
  border-radius: 3px;

  &.sm {
    padding: 2.5px 14px;
    width: max-content;
  }

  &.md {
    padding: 10px 0;
    width: 100%;
  }

  &.disabled {
    background-color: var(--btn-disabled);
    background-image: none;
  }

  &:focus,
  &:hover {
    background-image: linear-gradient(90deg, #fd6a5f, #fc4789);
  }
}

/* Border Button */

.borderButton {
  width: 100%;
  max-width: 326px;
  background-color: #1b1926;
  color: white;
  padding: 8px 0;
  font-weight: 700;
  line-height: 26px;
  font-size: 1.4rem;
  border-radius: 3px;
  border: 1px solid #f1eef9;

  &:focus,
  &:hover {
    background-color: #111018;
  }
}
