@import "../../styles/mixin_var.scss";

.chartItemContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 588px;
  height: 70px;
  @media screen and (max-width: $tablet) {
    width: 700px;
  }
  @media screen and (max-width: $mobile) {
    width: 327px;
  }
  .content {
    display: flex;
    align-items: center;
    gap: 12px;
    .ranking {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 19.09px;
      color: var(--brand-orange);
      opacity: 0.6;
      @media screen and (max-width: $tablet) {
        font-size: 1.4rem;
        line-height: 16.71px;
      }
      @media screen and (max-width: $mobile) {
        font-size: 1.4rem;
        line-height: 16.71px;
      }
    }
    .name {
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 19.09px;
      color: var(--txt-white);
      opacity: 0.87;
      @media screen and (max-width: $tablet) {
        font-size: 1.4rem;
        line-height: 16.71px;
      }
      @media screen and (max-width: $mobile) {
        font-size: 1.4rem;
        line-height: 16.71px;
      }
    }
  }
  .votes {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 19.09px;
    color: var(--brand-gray);
    opacity: 0.6;
    @media screen and (max-width: $tablet) {
      font-size: 1.4rem;
      line-height: 16.71px;
    }
    @media screen and (max-width: $mobile) {
      font-size: 1.4rem;
      line-height: 16.71px;
    }
  }
}
