@import "../../styles/mixin_var.scss";

.chartItemContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 327px;
  height: 70px;
  @media screen and (min-width: $tablet) {
    width: 700px;
  }
  @media screen and (min-width: $desktop) {
    width: 588px
  }
  .content {
    display: flex;
    gap: 12px;
    align-items: center;
    .ranking {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 19.09rem;
      color: var(--brand-orange);
      opacity: 0.6;
      @media screen and (min-width: $tablet) {
        font-size: 1.4rem;
        line-height: 16.71rem;
      }
      @media screen and (min-width: $desktop) {
        font-size: 1.6rem;
        line-height: 19.09rem;
      }
    }
    .name {
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 16.71rem;
      color: var(--white);
      opacity: 0.87;
      @media screen and (min-width: $tablet) {
        font-size: 1.4rem;
        line-height: 16.71rem;
      }
      @media screen and (min-width: $desktop) {
        font-size: 1.6rem;
        line-height: 19.09rem;
      }
    }
  }
  .votes {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 16.71rem;
    color: var(--white);
    opacity: 0.6;
    @media screen and (min-width: $tablet) {
      font-size: 1.4rem;
      line-height: 16.71rem;
    }
    @media screen and (min-width: $desktop) {
      font-size: 1.6rem;
      line-height: 19.09rem;
    }
  }
}
