/* common */
@font-face {
  font-family: Pretendard;
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
}

:root {
  --brand-orange: #f96d69;
  --brand-pink: #fe5493;
  --brand-gray: rgba(241, 238, 249, 0.8);
  --btn-disabled: #828282;
  --bg-radio-off: #8c92ab;
  --bg-modal: #181d26;
  background: #02000e;
  font-family: Pretendard;
  font-size: 62.5%;
  // font-size rem으로 통일 : root 10px
  // 12px == 1.2rem / 15px == 1.5rem
}
