$desktop: 1900px;
// desktop landing page 이슈로 1900 변경
$tablet: 768px;
$mobile: 375px;

// 말줄임 mixin
// 사용 : @include collpase(line수);
@mixin collapse($line) {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
}
