:root {
  --brand-orange: #f96d69;
  --brand-pink: #fe5493;
  --brand-gray: rgba(241, 238, 249, 0.8);
  --btn-disabled: #828282;
  --bg-radio-off: #8c92ab;
  --bg-modal: #181d26;
  background: #02000e;
}
