@import "styles/mixin_var.scss";
.view {
  display: flex;
  gap: 80px;
  flex-direction: column;
  @media screen and (max-width: $desktop) {
    gap: 60px;
  }
  @media screen and (max-width: $tablet) {
    gap: 40px;
  }
}
