@import "/src/styles/mixin_var.scss";

/*list page 공통*/
.section {
  @media screen and (min-width: $desktop) {
    min-width: 1200px;
    margin: 0 auto;
  }
  .sectionTitle {
    margin-bottom: 16px;
    padding: 0 24px;
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: 700;
    color: var(--txt-white);
    @media screen and (min-width: $desktop) {
      margin-bottom: 24px;
      font-size: 2.4rem;
      line-height: 2.6rem;
    }
  }
}

/*supportSection*/
.slideContainer {
  position: relative;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  .supportLists {
    box-sizing: border-box;
    display: flex;
    gap: 8px;
    width: 100%;
    overflow-x: scroll;
    padding: 0 24px 10px;
    @media screen and (min-width: $tablet) {
      gap: 16px;
    }
    @media screen and (min-width: $desktop) {
      gap: 24px;
      padding-bottom: 10px;
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .sliderBtn {
    display: none;
    @media screen and (min-width: $desktop) {
      display: block;
      position: absolute;
      top: 50%;
    }
    &:first-child {
      left: -40px;
      transform: translate(-100%, -50%);
    }
    &:last-child {
      right: -40px;
      transform: translate(100%, -50%);
    }
  }
}

/* ChartSection */

.sectionContainer {
  width: 327px;
  margin-bottom: 59px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 330px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 243px;
  }
  .sectionHeader {
    display: flex;
    justify-content: space-between;
    width: 351px;
    @media screen and (min-width: $tablet) {
      width: 722px;
    }
    @media screen and (min-width: $desktop) {
      width: 1224px;
    }
    .voteButton {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      width: 128px;
      height: 32px;
      border-radius: 3px;
      font-size: 1.3rem;
      font-weight: 700;
      line-height: 26rem;
      letter-spacing: 0.02rem;
      color: var(--white);
      @media screen and (min-width: $desktop) {
        margin-right: 0px;
      }
    }
  }
  .sectionDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 375px;
    @media screen and (min-width: $tablet) {
      width: 744px;
    }
    @media screen and (min-width: $desktop) {
      width: 1248px;
    }
    .tab {
      width: 327px;
      margin-bottom: 16px;
      @media screen and (min-width: $tablet) {
        width: 696px;
        margin-bottom: 24px;
      }
      @media screen and (min-width: $desktop) {
        width: 1200px;
        margin-bottom: 24px;
      }
    }
    .chartList {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 17px;
      padding: 0 24px;
      margin-bottom: 33px;
      @media screen and (min-width: $tablet) {
        margin-bottom: 27px;
      }
      @media screen and (min-width: $desktop) {
        margin-bottom: 51px;
      }
    }
    .borderButton {
      border: 1px solid rgba(241, 238, 249, 0.8);
    }
  }
}


/* Credit Section */

.creditSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 36px 64px;
  border: 1px solid rgba($color: #f1eef9, $alpha: 0.8);
  background-color: black;
  color: white;
  border-radius: 8px;

  @media screen and (max-width: $tablet) {
    padding: 20px;
  }

  .leftContent {
    display: flex;
    gap: 8px;
    flex-direction: column;

    & > span {
      font-size: 1.6rem;
      font-weight: 400;
      color: rgba($color: white, $alpha: 0.6);
      user-select: none;

      @media screen and (max-width: $tablet) {
        font-size: 1.2rem;
      }
    }

    .credit {
      display: flex;
      align-items: center;

      span {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 26px;
        user-select: none;

        @media screen and (max-width: $tablet) {
          font-size: 2rem;
        }
      }
    }
  }

  .rightContent {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.5px;

    @media screen and (max-width: $tablet) {
      font-size: 1.3rem;
    }
  }
}
