@import "/src/styles/mixin_var.scss";

/*list page 공통*/
.view {
  display: flex;
  flex-direction: column;
  gap: 80px;
  @media screen and (max-width: $desktop) {
    gap: 60px;
  }
  @media screen and (max-width: $tablet) {
    gap: 40px;
  }
}

.section {
  @media screen and (min-width: $desktop) {
    max-width: 1200px;
    margin: 0 auto;
  }
  .sectionTitle {
    margin-bottom: 24px;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--txt-white);
    @media screen and (max-width: $desktop) {
      padding: 0 24px;
      font-size: 2rem;
      line-height: 2.6rem;
    }
    @media screen and (max-width: $tablet) {
      margin-bottom: 16px;
    }
  }
}

/*supportSection*/
.slideContainer {
  position: relative;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  .supportLists {
    box-sizing: border-box;
    display: flex;
    gap: 24px;
    width: 100%;
    padding-bottom: 10px;
    overflow-x: scroll;
    @media screen and (max-width: $desktop) {
      gap: 16px;
      padding: 0 24px 10px;
    }
    @media screen and (max-width: $tablet) {
      gap: 8px;
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .slideBtn {
    position: absolute;
    top: 50%;
    @media screen and (max-width: $desktop) {
      display: none;
    }
    &:first-child {
      left: -40px;
      transform: translate(-100%, -50%);
    }
    &:last-child {
      right: -40px;
      transform: translate(100%, -50%);
    }
  }
}
