/* Credit Warning Modal */

.creditWarningModal {
  .header {
    display: flex;
    justify-content: flex-end;

    .xIcon {
      cursor: pointer;

      &:focus,
      &:hover {
        opacity: 0.3;
      }
    }
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 26px;

      & > span {
        color: var(--brand-orange);
      }
    }
  }

  .footer {
    margin-top: 31px;
    .confirmBtn {
      width: 295px;
    }
  }
}
