* {
  box-sizing: border-box;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 18px 23px;
  @media screen and (min-width: 768px) {
    padding: 29px 24px;
  }
  @media (min-width: 1000px) {
    padding: 27px 40px;
  }
  @media screen and (min-width: 1200px) {
    padding: 24px 360px;
  }
  @media screen and (min-width: 1900px) {
    padding: 22px 400px;
  }
  & > div {
    width: 32px;
    height: 32px;
  }
  & .navbarLogo {
    width: 168px;
    height: 32px;
  }
  & .navbarProfile {
    width: 32px;
    height: 32px;
  }
}
